# Carpeta de configuración de Visual Studio
.vs/
*.user
*.suo

# Archivos de compilación
bin/
obj/

# Archivos generados por dependencias
packages/
*.nupkg
*.snupkg

# Archivos de publicación
*.Publish.xml
*.pubxml
*.publishproj

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.bak
*.swp

# Configuración de Rider o VS Code (si usas)
.idea/
.vscode/

# Sistema operativo
Thumbs.db
ehthumbs.db
.DS_Store
